[Unit]
Description=Display Script
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 -u /home/pi/tacho/display.py
Restart=always
RestartSec=5
User=root
StandardOutput=journal
StandardError=journal
Environment=SDL_VIDEODRIVER=kmsdrm

[Install]
WantedBy=multi-user.target
