[Unit]
Description=Display Script
DefaultDependencies=no
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /tacho/display.py
Restart=always
RestartSec=5
User=root
Environment=SDL_VIDEODRIVER=kmsdrm

[Install]
WantedBy=multi-user.target
